body {
  background-color: #F5F5F5;
}

#wrapper {
  max-width: 960px;
  margin: 0 auto;
  background-color: #fff;
  padding: 32px;
}

.header1 {
  background-color: #333333;
  height: 150px;
  padding: 4px;
  text-align: center;
}

header h1 {
  text-transform: uppercase;
  font-size: 55px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  color: #fff;
  padding-left: 25px;
  line-height: 150px;
  display: inline;
}

header h1::before {
  content: "Coordinate ";
}

header h1::after {
  content: "Transformations";
  color: #508DB9;
}

header h2 {
  color: black;
  font-weight: 1000;
  font-size: 30px;
}

header h3 {
  color: black;
  font-weight: 1000;
  font-size: 30px;
}

.antLogo img {
  position: absolute;
  left: 90vw;
  top: 2.2vh;
}

.translations {
  color: #508DB9;
}
.container{
  position:relative;
}

.tableWrapper{
  margin-left:35%;
  margin-right:35%;
}

.table2Wrapper{
  margin-left:35%;
  margin-right:35%;
}
.infoA{
  position:absolute;
  top: 30vh;
  left: 5vw;
}
  .infoB{
  position:absolute;
  top: 30vh;
  left: 21vw;
}
.infoC{
  position:absolute;
  top: 30vh;
  left: 38vw;
}

.figure1Desc{
  position:absolute;
  top: 40vh;
  left: 12vw;
}

.figure2Desc{
  position:absolute;
  top: 45vh;
  left: 16vw;
}

.e2{
  position:absolute;
  top: 8vh;
  left: 21.2vw;
}

.e1{
  position:absolute;
  top: 37vh;
  left: 36.5vw;
}

.yOrigin{
  position:absolute;
  top: 38vh;
  left: 20.5vw;
}

.xOrigin{
  position:absolute;
  top: 17vh;
  left: 32.5vw;
}

.xm{
  position:absolute;
  top: 19vh;
  left: 28vw;
}

.xy{
  position:absolute;
  top: 30.1vh;
  left: 26vw;
}

.mPoint{
  position:absolute;
  top: 21vh;
  left: 25vw;
}

.xm2{
  position:absolute;
  top: 1.6vh;
  left: 16vw;
}

.xm3{
  position:absolute;
  top: 12vh;
  left: 1vw;
}

.ey2{
  position:absolute;
  top: 11.5vh;
  left: 13.5vw;
}

.em2{
  position:absolute;
  top: 7.6vh;
  left: 21vw;
}

.ey1{
  position:absolute;
  top: 22.5vh;
  left: 34.5vw;
}

.em1{
  position:absolute;
  top: 37.5vh;
  left: 36.5vw;
}

.xm1{
  position:absolute;
  top: 37.5vh;
  left: 41vw;
}

.origin{
  position:absolute;
  top: 37.5vh;
  left: 18vw;
}

.degree{
  position:absolute;
  top: 33.5vh;
  left: 28.5vw;
}

.explanation{
  position:absolute;
  top: 40vh;
  left: 11vw;
}
.navMenu {
  padding: 5px 0 5px 0;
  text-align: center;
  line-height: 32px;
  background-color: #508DB9;
}

ul.navMenu {
  margin-top: 15px;
}

.navMenu li {
  display: inline-block;
  padding: 0 10px 0 10px;
  font-size: 20px;
}

.navMenu a {
  text-decoration: none;
  color: #fff;
  padding: 8px;
  font-variant: small-caps;
}

.navMenu a:hover {
  color: black;
}

ul li ul.dropDown {
  display: none;
  text-align: center;
  position: absolute;
  background-color: #508DB9;
  padding: 0 10px 0 10px;
}

.dropDown a {
  font-size: 16px;
}

ul li:hover ul.dropDown {
  display: block;
}

table {
  border-collapse: separate;
  border-spacing: 0em;
}

td {
  border-left: 1px solid #000;
  padding: 0 10px;
}

tr td:first-child {
  border-left: 0px solid #000;
}
tr td:last-child {
  border-left: 0px solid #000;
  border-right: 1px solid #000;
}

.thirdTable{
  display: inline-block;
}
.thirdTable tr td{
  border-left: 1px solid #000;
}

.fourthTable{
  display: inline-block;
}
.fourthTable tr td:last-child{
  border-left: 1px solid #000;
}
.firstTableSet{
  display: inline-block;
}

.secondTableSet{
  display: inline-block;
}

.thirdTableSet{
  display: inline-block;
}

.nobr {
   white-space: nowrap;
}
.supsub {
   display: inline-block;
   margin: -9em 0;
   vertical-align: -0.55em;
   line-height: 1.35em;
   text-align: left;
}

.contentWrapper {
  margin: 0 22vw 0 22vw;
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  font-size: 17px;
}

.threeRotationMatrices {
  display: flex;
  justify-content: center;
}
.textA{
  display: inline-block;

  background-color: black;
}
.textB{
  display: inline-block;
}
.textC{
  display: inline-block;
}



.footnotes li {
  color: #8c8c8c;
}

.chapterBrowser a {
  text-decoration: none;
  color: #508DB9;
}

.chapterBrowser a:hover {
  text-decoration: none;
  color: #ddd;
}

.next {
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next:hover {
  background-color: #ddd;
  color: black;
}

.previous:hover {
  background-color: #ddd;
  color: black;
}

.previous {
  float: left;
  background-color: #f1f1f1;
  color: black;
  text-decoration: none;
  display: inline-block;
  padding: 8px 16px;
}

.next {
  float: right;
  background-color: #508DB9;
  color: white;
  text-decoration: none;
  padding: 8px 16px;
}

.objectRotation {
  color: white;
  width: 25%;
  background-color: #000000;
  opacity: 0.70;
  display: inline-block;
  padding-left: .9vw;
  text-align: left;
  font-size: 1.9vh;
  font-family: 'Ubuntu', sans-serif;
}

.btn {
  width: 15%;
  opacity: 0.70;
  color: white;
  background-color: black;
  text-align: left;
  font-size: 1.9vh;
  padding-left: .9vw;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

.btn:hover {
  background-color: #6699CC;
}

.btnReset {
  display: inline-block;
  width: 15%;
  opacity: 0.70;
  color: white;
  background-color: black;
  text-align: left;
  font-size: 1.9vh;
  padding-left: .9vw;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

.btnReset:hover {
  background-color: #6699CC;
}
