* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  text-setSize: 20px;
}

.header {
  width: 100%;
  height: 3em;
  display: block;
  font-size: 1.3em;
  background-color: #333333;
}

.header h1 {
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-weight: 100;
  margin-left: 1em;
}

.header h1 span {
  font-weight: 900;
  color: #6699CC;
}

.footer {
  width: 100%;
  height: 2%;
  display: block;
  background-color: #333333;
  color: white;
  font-family: 'Ubuntu', sans-serif;
  font-size: 100%;
  font-weight: 100;
  text-align: center;
}

.wrapper{
  width: 100%;
  float: right;

}
.objectBlueBar{
  position: absolute;
  left: 77.5vw;
  top: 35vh;
  color:#6699CC;
  z-index: 5;
  height: 5%;
  width: 0.5%;
  float: right;
  background-color: #6699CC;
  opacity:1;

}

.objectRotation {
  position: absolute;
  left: 78vw;
  top: 35vh;
  color:white;
  z-index: 5;
  height: 5%;
  width: 20%;
  float: right;
  background-color: #000000;
  opacity:0.70;
  padding-left: .9vw;
  text-align: left;
  font-size: 1.9vh;
  font-family: 'Ubuntu', sans-serif;
}

.cameraRotation{
  position: absolute;
  left: 78vw;
  top: 25vh;
  color:white;
  z-index: 5;
  height: 5%;
  width: 20%;
  float: right;
  background-color: #000000;
  opacity:0.70;
  padding-left: .9vw;
  text-align: left;
  font-size: 1.9vh;
  font-family: 'Ubuntu', sans-serif;
}

.cameraBlueBar{
  position: absolute;
  left: 77.5vw;
  top: 25vh;
  color:#6699CC;
  z-index: 5;
  height: 5%;
  width: 0.5%;
  float: right;
  background-color: #6699CC;
  opacity:1;
}
.buttonEffect{
  position: absolute;
  left: 77.5vw;
  top: 14vh;
  color:#6699CC;
  z-index: 5;
  height: 5%;
  width: 0.5%;
  float: right;
  background-color: #6699CC;
  opacity:1;
}

.btn{
  width: 6%;
  height: 5%;
  position: absolute;
  z-index: 5;
  left: 78vw;
  top: 14vh;
  opacity: 0.70;
  color: white;
  background-color: black;
  text-align: left;
  font-size: 1.9vh;
  padding-left: .9vw;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

.btn:hover{
  background-color: #6699CC;
}

.resetEffect{
  position: absolute;
  left: 84.5vw;
  top: 14vh;
  color:#6699CC;
  z-index: 5;
  height: 5%;
  width: 0.5%;
  float: right;
  background-color: #6699CC;
  opacity:1;
}
.btnReset{
  width: 6%;
  height: 5%;
  position: absolute;
  z-index: 5;
  left: 85vw;
  top: 14vh;
  opacity: 0.70;
  color: white;
  background-color: black;
  text-align: left;
  font-size: 1.9vh;
  padding-left: .9vw;
  border: none;
  font-family: 'Ubuntu', sans-serif;
}

.btnReset:hover{
  background-color: #6699CC;
}
.canvas{
  display: block;
  width: 50%;
}
.pdfDocument{
  width: 100%;
  height: 100%;
}
